<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Some Error Occured !!</h1>
    <p> Please try again later, we are working on it.</p>

<%- include('includes/end.ejs') %>