<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
<<<<<<< HEAD
    <h1>Some Error Occured</h1>
    <p>We Are working on it. Please try again later !!</p>
=======
    <h1>Some Error Occured !!</h1>
    <p> Please try again later, we are working on it.</p>
>>>>>>> ce2bb9d41ec336aa2beb297d9c040a0c4a805a1d

<%- include('includes/end.ejs') %>