.login-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.login-form:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
