.form-control {
    margin: 1rem 0;
  }
  
  .form-control label,
  .form-control input,
  .form-control textarea {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
  }
  
  .form-control input,
  .form-control textarea {
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 3px;
    padding: 0.5rem;
    transition: border-color 0.3s ease;
  }
  
  .form-control input:hover,
  .form-control textarea:hover {
    border-color: #34495e; 
  }
  
  .form-control input:focus,
  .form-control textarea:focus {
    outline: none;
    border-color: #34495e;
    box-shadow: 0 0 0 3px rgba(52, 73, 94, 0.2)

  }
  
  .form-control input:focus:hover,
  .form-control textarea:focus:hover {
    border-color: #34495e; 
    box-shadow: 0 0 0 3px rgba(52, 73, 94, 0.2)
    
  }
  